<div class="container">
  <h2 id="menu-categories-title" class="text-center">Registration Information</h2>
  <div class="text-center">
    <div ng-if='regCtrl.saved'>
      First Name: {{regCtrl.firstName}}<br>
      Last Name: {{regCtrl.lastName}}<br>
      E-mail Address: {{regCtrl.email}}<br>
      Phone: {{regCtrl.phone}}<br>
      Favourite Dish: {{regCtrl.favourite}}<br>
    </div>
    <div ng-if='!regCtrl.saved'>
      Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </div>
  </div>
</div>
