<!-- The <div> and <br> exist to put the text on a new line -->
<!-- I don't know why the narrow-button class messes this up -->
<!-- If you know let me know in the feedback -->
<div><br><br><br></div>

<table ng-show='menu.length'>
  <tr><th>Name</th><th>Short</th><th>Description</th><th> </th></tr>

  <tr ng-repeat='menuItem in menu'>
    <td>{{menuItem.name}}</td>
    <td>{{menuItem.short_name}}</td>
    <td>{{menuItem.description}}</td>
    <td>
      <button
        class="btn btn-primary"
        ng-click="onRemove({ index : $index});">
        Don't want this one!
      </button>
    </td>
  </tr>

</table>
<h2 ng-hide='menu.length'> Nothing found</h2>
